
h1 {
    font-size: 75px;

    
}
.little-red-riding-hood-header {
    font-family: 'Pirata One', cursive;
}
.little-red-riding-hood-body {
    font-family: 'Cambay', sans-serif;
    font-size: 30px;
}
.amendment-1-header {
    font-family: 'Mrs Saint Delafield', cursive;
}
.amendment-1-body {
    font-family: 'IM Fell English SC', serif;
    font-size: 30px;
}
.malcolm-x-header {
    font-family: 'Staatliches', cursive;
}
.malcolm-x-body {
    font-family: 'Mallanna', sans-serif;
    font-size: 30px;
}



